@import "Fonts.css";
@import "Colors.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.bBlack {
  border: 1px solid #000;
}

.bWhite {
  border: 1px solid #fff;
}
.Text-Centered {
  text-align: center;
  text-justify: center;
}

.Fs {
  -webkit-transition: font-size 0.5s ease;
  -moz-transition: font-size 0.5s ease;
  -o-transition: font-size 0.5s ease;
  transition: font-size 0.5s ease;
}

.Rounded-50 {
  border-radius: 50%;
}
.Rounded-25 {
  border-radius: 25%;
}
.Rounded-15 {
  border-radius: 15%;
}
.Rounded-5 {
  border-radius: 5%;
}

@media (min-width: 321px) {
  .Ees_t_10 {
    margin-top: 10px;
  }
  .Ees_t_15 {
    margin-top: 15px;
  }
  .Ees_t_20 {
    margin-top: 20px;
  }
  .Ees_t_25 {
    margin-top: 25px;
  }
  .Ees_t_30 {
    margin-top: 30px;
  }

  .Ees_b_10 {
    margin-bottom: 10px;
  }
  .Ees_b_15 {
    margin-bottom: 15px;
  }
  .Ees_b_20 {
    margin-bottom: 20px;
  }
  .Ees_b_25 {
    margin-bottom: 25px;
  }
  .Ees_b_30 {
    margin-bottom: 30px;
  }

  .Ees_F_Wrap {
    flex-wrap: wrap;
  }
  .Ees_F_Nwrap {
    flex-wrap: nowrap;
  }

  .Ees-F {
    display: flex;
  }
  .Ees-A {
    display: grid;
  }
  .Ees-N {
    display: None;
  }
  .Ees-B {
    display: block;
  }

  .Ees-P-Abs {
    position: absolute;
  }
  .Ees-P-Fix {
    position: fixed;
  }
  .Ees-P-Rel {
    position: relative;
  }
  .Ees-P-Sti {
    position: sticky;
  }

  .Ees-vh10 {
    height: 100vh;
  }
  .Ees-vh9 {
    height: 90vh;
  }
  .Ees-vh8 {
    height: 80vh;
  }
  .Ees-vh7 {
    height: 70vh;
  }
  .Ees-vh6 {
    height: 60vh;
  }
  .Ees-vh5 {
    height: 50vh;
  }
  .Ees-vh4 {
    height: 40vh;
  }
  .Ees-vh3 {
    height: 30vh;
  }
  .Ees-vh2 {
    height: 20vh;
  }
  .Ees-vh1 {
    height: 10vh;
  }

  .Ees-vw10 {
    width: 100vw;
  }
  .Ees-vw9 {
    width: 90vw;
  }
  .Ees-vw8 {
    width: 80vw;
  }
  .Ees-vw7 {
    width: 70vw;
  }
  .Ees-vw6 {
    width: 60vw;
  }
  .Ees-vw5 {
    width: 50vw;
  }
  .Ees-vw4 {
    width: 40vw;
  }
  .Ees-vw3 {
    width: 30vw;
  }
  .Ees-vw2 {
    width: 20vw;
  }
  .Ees-vw1 {
    width: 10vw;
  }

  .Ees-Cl {
    flex-direction: column;
  }
  .Ees-Rw {
    flex-direction: row;
  }

  .Ees-Vs {
    visibility: visible;
  }
  .Ees-Vs-none {
    visibility: hidden;
  }

  .Ees-Ov-Hidden {
    overflow: hidden;
  }
  .Ees-Ov-Scroll {
    overflow: scroll;
  }
  .Ees-Ov-Visible {
    overflow: visible;
  }

  .Ees-ObFit-Fill {
    object-fit: fill;
  }
  .Ees-ObFit-Cover {
    object-fit: Cover;
  }
  .Ees-ObFit-Cont {
    object-fit: contain;
  }
  .Ess-Fs-xss{
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .Ess-Fs-xs{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .Ess-Fs-s{
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .Ess-Fs-m{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .Ess-Fs-l{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .Ess-Fs-el{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .Ess-Fs-eel{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .Ess-Fs-x1{
    font-size: 3rem;
    line-height: 1rem;
  }
  .Ess-Fs-x2{
    font-size: 3.75rem;
    line-height: 1rem;
  }
  
  .Ess-Fs-x3{
    font-size: 4.5rem;
    line-height: 1rem;
  }
  .Ess-Fs-x4{
    font-size: 6rem;
    line-height: 1rem;
  }
  .Ess-Fs-x5{
    font-size: 8rem;
    line-height: 1rem;
  }
  

}
/*ES*/
@media (min-width: 576px) {
  .Es_t_10 {
    margin-top: 10px;
  }
  .Es_t_15 {
    margin-top: 15px;
  }
  .Es_t_20 {
    margin-top: 20px;
  }
  .Es_t_25 {
    margin-top: 25px;
  }
  .Es_t_30 {
    margin-top: 30px;
  }

  .Es_b_10 {
    margin-bottom: 10px;
  }
  .Es_b_15 {
    margin-bottom: 15px;
  }
  .Es_b_20 {
    margin-bottom: 20px;
  }
  .Es_b_25 {
    margin-bottom: 25px;
  }
  .Es_b_30 {
    margin-bottom: 30px;
  }

  .Es_F_Wrap {
    flex-wrap: wrap;
  }
  .Es_F_Nwrap {
    flex-wrap: nowrap;
  }

  .Es-F {
    display: flex;
  }
  .Es-A {
    display: grid;
  }
  .Es-N {
    display: None;
  }
  .Es-B {
    display: block;
  }

  .Es-P-Abs {
    position: absolute;
  }
  .Es-P-Fix {
    position: fixed;
  }
  .Es-P-Rel {
    position: relative;
  }
  .Es-P-Sti {
    position: sticky;
  }

  .Es-vh10 {
    height: 100vh;
  }
  .Es-vh9 {
    height: 90vh;
  }
  .Es-vh8 {
    height: 80vh;
  }
  .Es-vh7 {
    height: 70vh;
  }
  .Es-vh6 {
    height: 60vh;
  }
  .Es-vh5 {
    height: 50vh;
  }
  .Es-vh4 {
    height: 40vh;
  }
  .Es-vh3 {
    height: 30vh;
  }
  .Es-vh2 {
    height: 20vh;
  }
  .Es-vh1 {
    height: 10vh;
  }

  .Es-vw10 {
    width: 100vw;
  }
  .Es-vw9 {
    width: 90vw;
  }
  .Es-vw8 {
    width: 80vw;
  }
  .Es-vw7 {
    width: 70vw;
  }
  .Es-vw6 {
    width: 60vw;
  }
  .Es-vw5 {
    width: 50vw;
  }
  .Es-vw4 {
    width: 40vw;
  }
  .Es-vw3 {
    width: 30vw;
  }
  .Es-vw2 {
    width: 20vw;
  }
  .Es-vw1 {
    width: 10vw;
  }

  .Es-Cl {
    flex-direction: column;
  }
  .Es-Rw {
    flex-direction: row;
  }

  .Es-Vs {
    visibility: visible;
  }
  .Es-Vs-none {
    visibility: hidden;
  }

  .Es-Ov-Hidden {
    overflow: hidden;
  }
  .Es-Ov-Scroll {
    overflow: scroll;
  }
  .Es-Ov-Visible {
    overflow: visible;
  }

  .Es-ObFit-Fill {
    object-fit: fill;
  }
  .Es-ObFit-Cover {
    object-fit: Cover;
  }
  .Es-ObFit-Cont {
    object-fit: contain;
  }
  .Es-Fs-xss{
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .Es-Fs-xs{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .Es-Fs-s{
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .Es-Fs-m{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .Es-Fs-l{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .Es-Fs-el{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .Es-Fs-eel{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .Es-Fs-x1{
    font-size: 3rem;
    line-height: 1rem;
  }
  .Es-Fs-x2{
    font-size: 3.75rem;
    line-height: 1rem;
  }
  
  .Es-Fs-x3{
    font-size: 4.5rem;
    line-height: 1rem;
  }
  .Es-Fs-x4{
    font-size: 6rem;
    line-height: 1rem;
  }
  .Es-Fs-x5{
    font-size: 8rem;
    line-height: 1rem;
  }
  
}
/*S*/
@media (min-width: 768px) {
  .S_t_10 {
    margin-top: 10px;
  }
  .S_t_15 {
    margin-top: 15px;
  }
  .S_t_20 {
    margin-top: 20px;
  }
  .S_t_25 {
    margin-top: 25px;
  }
  .S_t_30 {
    margin-top: 30px;
  }

  .S_b_10 {
    margin-bottom: 10px;
  }
  .S_b_15 {
    margin-bottom: 15px;
  }
  .S_b_20 {
    margin-bottom: 20px;
  }
  .S_b_25 {
    margin-bottom: 25px;
  }
  .S_b_30 {
    margin-bottom: 30px;
  }

  .S_F_Wrap {
    flex-wrap: wrap;
  }
  .S_F_Nwrap {
    flex-wrap: nowrap;
  }

  .S-F {
    display: flex;
  }
  .S-A {
    display: grid;
  }
  .S-N {
    display: None;
  }
  .S-B {
    display: block;
  }

  .S-P-Abs {
    position: absolute;
  }
  .S-P-Fix {
    position: fixed;
  }
  .S-P-Rel {
    position: relative;
  }
  .S-P-Sti {
    position: sticky;
  }

  .S-vh10 {
    height: 100vh;
  }
  .S-vh9 {
    height: 90vh;
  }
  .S-vh8 {
    height: 80vh;
  }
  .S-vh7 {
    height: 70vh;
  }
  .S-vh6 {
    height: 60vh;
  }
  .S-vh5 {
    height: 50vh;
  }
  .S-vh4 {
    height: 40vh;
  }
  .S-vh3 {
    height: 30vh;
  }
  .S-vh2 {
    height: 20vh;
  }
  .S-vh1 {
    height: 10vh;
  }

  .S-vw10 {
    width: 100vw;
  }
  .S-vw9 {
    width: 90vw;
  }
  .S-vw8 {
    width: 80vw;
  }
  .S-vw7 {
    width: 70vw;
  }
  .S-vw6 {
    width: 60vw;
  }
  .S-vw5 {
    width: 50vw;
  }
  .S-vw4 {
    width: 40vw;
  }
  .S-vw3 {
    width: 30vw;
  }
  .S-vw2 {
    width: 20vw;
  }
  .S-vw1 {
    width: 10vw;
  }

  .S-Cl {
    flex-direction: column;
  }
  .S-Rw {
    flex-direction: row;
  }

  .S-Vs {
    visibility: visible;
  }
  .S-Vs-none {
    visibility: hidden;
  }

  .S-Ov-Hidden {
    overflow: hidden;
  }
  .S-Ov-Scroll {
    overflow: scroll;
  }
  .S-Ov-Visible {
    overflow: visible;
  }

  .S-ObFit-Fill {
    object-fit: fill;
  }
  .S-ObFit-Cover {
    object-fit: Cover;
  }
  .S-ObFit-Cont {
    object-fit: contain;
  }
  .S-Fs-xss{
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .S-Fs-xs{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .S-Fs-s{
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .S-Fs-m{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .S-Fs-l{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .S-Fs-el{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .S-Fs-eel{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .S-Fs-x1{
    font-size: 3rem;
    line-height: 1rem;
  }
  .S-Fs-x2{
    font-size: 3.75rem;
    line-height: 1rem;
  }
  
  .S-Fs-x3{
    font-size: 4.5rem;
    line-height: 1rem;
  }
  .S-Fs-x4{
    font-size: 6rem;
    line-height: 1rem;
  }
  .S-Fs-x5{
    font-size: 8rem;
    line-height: 1rem;
  }
  
}

/*M*/
@media (min-width: 992px) {
  .M_t_10 {
    margin-top: 10px;
  }
  .M_t_15 {
    margin-top: 15px;
  }
  .M_t_20 {
    margin-top: 20px;
  }
  .M_t_25 {
    margin-top: 25px;
  }
  .M_t_30 {
    margin-top: 30px;
  }

  .M_b_10 {
    margin-bottom: 10px;
  }
  .M_b_15 {
    margin-bottom: 15px;
  }
  .M_b_20 {
    margin-bottom: 20px;
  }
  .M_b_25 {
    margin-bottom: 25px;
  }
  .M_b_30 {
    margin-bottom: 30px;
  }

  .M_F_Wrap {
    flex-wrap: wrap;
  }
  .M_F_Nwrap {
    flex-wrap: nowrap;
  }

  .M-F {
    display: flex;
  }
  .M-A {
    display: grid;
  }
  .M-N {
    display: None;
  }
  .M-B {
    display: block;
  }

  .M-P-Abs {
    position: absolute;
  }
  .M-P-Fix {
    position: fixed;
  }
  .M-P-Rel {
    position: relative;
  }
  .M-P-Sti {
    position: sticky;
  }

  .M-vh10 {
    height: 100vh;
  }
  .M-vh9 {
    height: 90vh;
  }
  .M-vh8 {
    height: 80vh;
  }
  .M-vh7 {
    height: 70vh;
  }
  .M-vh6 {
    height: 60vh;
  }
  .M-vh5 {
    height: 50vh;
  }
  .M-vh4 {
    height: 40vh;
  }
  .M-vh3 {
    height: 30vh;
  }
  .M-vh2 {
    height: 20vh;
  }
  .M-vh1 {
    height: 10vh;
  }

  .M-vw10 {
    width: 100vw;
  }
  .M-vw9 {
    width: 90vw;
  }
  .M-vw8 {
    width: 80vw;
  }
  .M-vw7 {
    width: 70vw;
  }
  .M-vw6 {
    width: 60vw;
  }
  .M-vw5 {
    width: 50vw;
  }
  .M-vw4 {
    width: 40vw;
  }
  .M-vw3 {
    width: 30vw;
  }
  .M-vw2 {
    width: 20vw;
  }
  .M-vw1 {
    width: 10vw;
  }

  .M-Cl {
    flex-direction: column;
  }
  .M-Rw {
    flex-direction: row;
  }

  .M-Vs {
    visibility: visible;
  }
  .M-Vs-none {
    visibility: hidden;
  }

  .M-Ov-Hidden {
    overflow: hidden;
  }
  .M-Ov-Scroll {
    overflow: scroll;
  }
  .M-Ov-Visible {
    overflow: visible;
  }

  .M-ObFit-Fill {
    object-fit: fill;
  }
  .M-ObFit-Cover {
    object-fit: Cover;
  }
  .M-ObFit-Cont {
    object-fit: contain;
  }
  .M-Fs-xss{
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .M-Fs-xs{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .M-Fs-s{
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .M-Fs-m{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .M-Fs-l{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .M-Fs-el{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .M-Fs-eel{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .M-Fs-x1{
    font-size: 3rem;
    line-height: 1rem;
  }
  .M-Fs-x2{
    font-size: 3.75rem;
    line-height: 1rem;
  }
  
  .M-Fs-x3{
    font-size: 4.5rem;
    line-height: 1rem;
  }
  .M-Fs-x4{
    font-size: 6rem;
    line-height: 1rem;
  }
  .M-Fs-x5{
    font-size: 8rem;
    line-height: 1rem;
  }
  
}

/*L*/
@media (min-width: 1200px) {
  .L_t_10 {
    margin-top: 10px;
  }
  .L_t_15 {
    margin-top: 15px;
  }
  .L_t_20 {
    margin-top: 20px;
  }
  .L_t_25 {
    margin-top: 25px;
  }
  .L_t_30 {
    margin-top: 30px;
  }

  .L_b_10 {
    margin-bottom: 10px;
  }
  .L_b_15 {
    margin-bottom: 15px;
  }
  .L_b_20 {
    margin-bottom: 20px;
  }
  .L_b_25 {
    margin-bottom: 25px;
  }
  .L_b_30 {
    margin-bottom: 30px;
  }

  .L_F_Wrap {
    flex-wrap: wrap;
  }
  .L_F_Nwrap {
    flex-wrap: nowrap;
  }

  .L-F {
    display: flex;
  }
  .L-A {
    display: grid;
  }
  .L-N {
    display: None;
  }
  .L-B {
    display: block;
  }

  .L-P-Abs {
    position: absolute;
  }
  .L-P-Fix {
    position: fixed;
  }
  .L-P-Rel {
    position: relative;
  }
  .L-P-Sti {
    position: sticky;
  }

  .L-vh10 {
    height: 100vh;
  }
  .L-vh9 {
    height: 90vh;
  }
  .L-vh8 {
    height: 80vh;
  }
  .L-vh7 {
    height: 70vh;
  }
  .L-vh6 {
    height: 60vh;
  }
  .L-vh5 {
    height: 50vh;
  }
  .L-vh4 {
    height: 40vh;
  }
  .L-vh3 {
    height: 30vh;
  }
  .L-vh2 {
    height: 20vh;
  }
  .L-vh1 {
    height: 10vh;
  }

  .L-vw10 {
    width: 100vw;
  }
  .L-vw9 {
    width: 90vw;
  }
  .L-vw8 {
    width: 80vw;
  }
  .L-vw7 {
    width: 70vw;
  }
  .L-vw6 {
    width: 60vw;
  }
  .L-vw5 {
    width: 50vw;
  }
  .L-vw4 {
    width: 40vw;
  }
  .L-vw3 {
    width: 30vw;
  }
  .L-vw2 {
    width: 20vw;
  }
  .L-vw1 {
    width: 10vw;
  }

  .L-Cl {
    flex-direction: column;
  }
  .L-Rw {
    flex-direction: row;
  }

  .L-Vs {
    visibility: visible;
  }
  .L-Vs-none {
    visibility: hidden;
  }

  .L-Ov-Hidden {
    overflow: hidden;
  }
  .L-Ov-Scroll {
    overflow: scroll;
  }
  .L-Ov-Visible {
    overflow: visible;
  }

  .L-ObFit-Fill {
    object-fit: fill;
  }
  .L-ObFit-Cover {
    object-fit: Cover;
  }
  .L-ObFit-Cont {
    object-fit: contain;
  }

  .L-Fs-xss{
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .L-Fs-xs{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .L-Fs-s{
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .L-Fs-m{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .L-Fs-l{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .L-Fs-el{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .L-Fs-eel{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .L-Fs-x1{
    font-size: 3rem;
    line-height: 1rem;
  }
  .L-Fs-x2{
    font-size: 3.75rem;
    line-height: 1rem;
  }
  
  .L-Fs-x3{
    font-size: 4.5rem;
    line-height: 1rem;
  }
  .L-Fs-x4{
    font-size: 6rem;
    line-height: 1rem;
  }
  .L-Fs-x5{
    font-size: 8rem;
    line-height: 1rem;
  }
  
}

/*EL*/
@media (min-width: 1400px) {
  .EL_t_10 {
    margin-top: 10px;
  }
  .EL_t_15 {
    margin-top: 15px;
  }
  .EL_t_20 {
    margin-top: 20px;
  }
  .EL_t_25 {
    margin-top: 25px;
  }
  .EL_t_30 {
    margin-top: 30px;
  }

  .EL_b_10 {
    margin-bottom: 10px;
  }
  .EL_b_15 {
    margin-bottom: 15px;
  }
  .EL_b_20 {
    margin-bottom: 20px;
  }
  .EL_b_25 {
    margin-bottom: 25px;
  }
  .EL_b_30 {
    margin-bottom: 30px;
  }

  .EL_F_Wrap {
    flex-wrap: wrap;
  }
  .EL_F_Nwrap {
    flex-wrap: nowrap;
  }

  .EL-F {
    display: flex;
  }
  .EL-A {
    display: grid;
  }
  .EL-N {
    display: None;
  }
  .EL-B {
    display: block;
  }

  .EL-P-Abs {
    position: absolute;
  }
  .EL-P-Fix {
    position: fixed;
  }
  .EL-P-Rel {
    position: relative;
  }
  .EL-P-Sti {
    position: sticky;
  }

  .EL-vh10 {
    height: 100vh;
  }
  .EL-vh9 {
    height: 90vh;
  }
  .EL-vh8 {
    height: 80vh;
  }
  .EL-vh7 {
    height: 70vh;
  }
  .EL-vh6 {
    height: 60vh;
  }
  .EL-vh5 {
    height: 50vh;
  }
  .EL-vh4 {
    height: 40vh;
  }
  .EL-vh3 {
    height: 30vh;
  }
  .EL-vh2 {
    height: 20vh;
  }
  .EL-vh1 {
    height: 10vh;
  }

  .EL-vw10 {
    width: 100vw;
  }
  .EL-vw9 {
    width: 90vw;
  }
  .EL-vw8 {
    width: 80vw;
  }
  .EL-vw7 {
    width: 70vw;
  }
  .EL-vw6 {
    width: 60vw;
  }
  .EL-vw5 {
    width: 50vw;
  }
  .EL-vw4 {
    width: 40vw;
  }
  .EL-vw3 {
    width: 30vw;
  }
  .EL-vw2 {
    width: 20vw;
  }
  .EL-vw1 {
    width: 10vw;
  }

  .EL-Cl {
    flex-direction: column;
  }
  .EL-Rw {
    flex-direction: row;
  }

  .EL-Vs {
    visibility: visible;
  }
  .EL-Vs-none {
    visibility: hidden;
  }

  .EL-Ov-Hidden {
    overflow: hidden;
  }
  .EL-Ov-Scroll {
    overflow: scroll;
  }
  .EL-Ov-Visible {
    overflow: visible;
  }

  .EL-ObFit-Fill {
    object-fit: fill;
  }
  .EL-ObFit-Cover {
    object-fit: Cover;
  }
  .EL-ObFit-Cont {
    object-fit: contain;
  }

  .EL-Fs-xss{
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .EL-Fs-xs{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .EL-Fs-s{
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .EL-Fs-m{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .EL-Fs-l{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .EL-Fs-el{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .EL-Fs-eel{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .EL-Fs-x1{
    font-size: 3rem;
    line-height: 1rem;
  }
  .EL-Fs-x2{
    font-size: 3.75rem;
    line-height: 1rem;
  }

  .EL-Fs-x3{
    font-size: 4.5rem;
    line-height: 1rem;
  }
  .EL-Fs-x4{
    font-size: 6rem;
    line-height: 1rem;
  }
  .EL-Fs-x5{
    font-size: 8rem;
    line-height: 1rem;
  }




}
