@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Allan&family=IM+Fell+Great+Primer+SC&family=Imperial+Script&family=Imprima&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Barlow:wght@100;200;400&family=Cormorant+Garamond:wght@300;400&family=Dosis:wght@300;400;500&family=Great+Vibes&family=Karla:wght@200;300;400&family=Kaushan+Script&family=Nunito:wght@300;400&family=PT+Sans&family=Roboto:wght@300;400&family=Rubik:wght@300;400&family=Sarala&family=Titillium+Web:wght@300;400&family=Ubuntu:wght@300;400&display=swap");

@font-face {
  font-family: "GT Walsheim Medium";
  src: url("../Styles/Fonts/GTWalsheimPro-Medium.ttf");
}
@font-face {
  font-family: "GT Walsheim Light";
  src: url("../Styles/Fonts/GTWalsheimPro-LightOblique.ttf");
}

:root {
  --ff-Regular-Osans: "Open Sans", "PingFang SC", "Microsoft YaHei",
    "Helvetica Neue", "Hiragino Sans GB", "WenQuanYi Micro Hei", Arial,
    sans-serif !important;
  /*--ff-barlow: 'Barlow', sans-serif;
    --ff-Dosis:  'Dosis', sans-serif;
    --ff-Karla:  'Karla', sans-serif;
    --ff-Pt-Sans:'PT Sans', sans-serif;
    --ff-Roboto:  'Roboto', sans-serif;
    --ff-Ubuntu: 'Ubuntu', sans-serif;
    --ff-titill: 'Titillium Web', sans-serif;
    --ff-rubik: 'Rubik', sans-serif;
    --ff-kaushan:  'Kaushan Script', cursive;
    --ff-alata: 'Alata', sans-serif;
    --ff-GT-Wal: ' GT Walsheim Medium', sans-serif;
    --ff-Imprima: 'Imprima' normal 400;
    --ff-Alan-Cur: 'Allan', cursive;
    --ff-Sarala:   'Sarala', sans-serif;*/

  --S27: 170px;
  --S26: 160px;
  --S25: 150px;
  --S24: 140px;
  --S23: 120px;
  --S22: 110px;
  --S21: 105px;
  --S20: 100px;
  --S19: 95px;
  --S18: 85px;
  --S17: 80px;
  --S16: 75px;
  --S15: 65px;
  --S14: 60px;
  --S13: 55px;
  --S12: 50px;
  --S11: 45px;
  --S10: 35px;
  --S9: 33px;
  --S8: 30px;
  --S7: 28px;
  --S6: 25px;
  --S5: 23px;
  --S4: 20px;
  --S3: 18px;
  --S2: 16px;
  --S1: 13px;
  --S0: 10px;

  --vw:100vw;
  --vh:100vh;

  --vwX2: calc(100vw / 2);
  --vwX3: calc(100vw / 3);
  --vwX4: calc(100vw / 4);
  --vwX5: calc(100vw / 5);
  --vwX6: calc(100vw / 6);
  --vwX7: calc(100vw / 7);
  --vwX8: calc(100vw / 8);

  --vhX2: calc(100vw / 2);
  --vhX3: calc(100vw / 3);
  --vhX4: calc(100vw / 4);
  --vhX5: calc(100vw / 5);
  --vhX6: calc(100vw / 6);
  --vhX7: calc(100vw / 7);
  --vhX8: calc(100vw / 8);

}
