@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Allan&family=IM+Fell+Great+Primer+SC&family=Imperial+Script&family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow:wght@100;200;400&family=Cormorant+Garamond:wght@300;400&family=Dosis:wght@300;400;500&family=Great+Vibes&family=Karla:wght@200;300;400&family=Kaushan+Script&family=Nunito:wght@300;400&family=PT+Sans&family=Roboto:wght@300;400&family=Rubik:wght@300;400&family=Sarala&family=Titillium+Web:wght@300;400&family=Ubuntu:wght@300;400&display=swap');

@font-face {
    font-family: 'GT Walsheim Medium';
    src: url('../Styles/Fonts/GTWalsheimPro-Medium.ttf');
}
@font-face {
    font-family: 'GT Walsheim Light';
    src: url('../Styles/Fonts/GTWalsheimPro-LightOblique.ttf');
}

:root{
    --ff-Regular-Osans:  "Open Sans","PingFang SC","Microsoft YaHei","Helvetica Neue","Hiragino Sans GB","WenQuanYi Micro Hei",Arial,sans-serif !important;
    --ff-barlow: 'Barlow', sans-serif;
    --ff-Dosis:  'Dosis', sans-serif;
    --ff-Karla:  'Karla', sans-serif;
    --ff-Pt-Sans:'PT Sans', sans-serif;
    --ff-Roboto:  'Roboto', sans-serif;
    --ff-Ubuntu: 'Ubuntu', sans-serif;
    --ff-titill: 'Titillium Web', sans-serif;
    --ff-rubik: 'Rubik', sans-serif;
    --ff-kaushan:  'Kaushan Script', cursive;
    --ff-alata: 'Alata', sans-serif;
    --ff-GT-Wal: ' GT Walsheim Medium', sans-serif;
    --ff-Imprima: 'Imprima' normal 400;
    --ff-Alan-Cur: 'Allan', cursive;
    --ff-Sarala:   'Sarala', sans-serif;
    --fs12: 235px;
    --fs11: 215px;
    --fs10: 205px;
     --fs9: 185px;
     --fs8: 165px;
     --fs7: 145px;
     --fs6: 125px;
     --fs5: 105px;
     --fs4: 85px;
     --fs3: 65px;
     --fs2: 45px;
     --fs1: 25px;
     --fs0: 10px;
     --vhX2: calc(2 *100vh);
     --vhX3: calc(3 *100vh);
     --vhX4: calc(4 *100vh);
     --vhX5: calc(5 *100vh);
     --vhX2: calc(2 *100vw);
     --vhX3: calc(3 *100vw);
     --vhX4: calc(4 *100vw);
     --vhX5: calc(5 *100vw);
}