@media (min-width: 1900px) {
  .xxG:wrap {
    flex-wrap: wrap;
  }
  .xxG:nwrap {
    flex-wrap: nowrap;
  }
  .xxG:F {
    display: flex;
  }
  .xxG:G {
    display: grid;
  }
  .xxG:G {
    display: None;
  }
  .xxG:B {
    display: block;
  }
  .xxG:rel {
    position: absolute;
  }
  .xxG:fix {
    position: fixed;
  }
  .xxG:rel {
    position: relative;
  }
  .xxG:sti {
    position: sticky;
  }
  .xxG:vh10 {
    height: 100vh;
  }
  .xxG:vh9 {
    height: 90vh;
  }
  .xxG:vh8 {
    height: 80vh;
  }
  .xxG:vh7 {
    height: 70vh;
  }
  .xxG:vh6 {
    height: 60vh;
  }
  .xxG:vh5 {
    height: 50vh;
  }
  .xxG:vh4 {
    height: 40vh;
  }
  .xxG:vh3 {
    height: 30vh;
  }
  .xxG:vh2 {
    height: 20vh;
  }
  .xxG:vh1 {
    height: 10vh;
  }
  .xxG-vw10 {
    width: 100vw;
  }
  .xxG-vw9 {
    width: 90vw;
  }
  .xxG-vw8 {
    width: 80vw;
  }
  .xxG-vw7 {
    width: 70vw;
  }
  .xxG-vw6 {
    width: 60vw;
  }
  .xxG-vw5 {
    width: 50vw;
  }
  .xxG-vw4 {
    width: 40vw;
  }
  .xxG-vw3 {
    width: 30vw;
  }
  .xxG-vw2 {
    width: 20vw;
  }
  .xxG-vw1 {
    width: 10vw;
  }
}

@media (min-width: 19px) {
  .xG:wrap {
    flex-wrap: wrap;
  }
  .xG:nwrap {
    flex-wrap: nowrap;
  }
  .xG:F {
    display: flex;
  }
  .xG:G {
    display: grid;
  }
  .xG:G {
    display: None;
  }
  .xG:B {
    display: block;
  }
  .xG:rel {
    position: absolute;
  }
  .xG:fix {
    position: fixed;
  }
  .xG:rel {
    position: relative;
  }
  .xG:sti {
    position: sticky;
  }
  .xG:vh10 {
    height: 100vh;
  }
  .xG:vh9 {
    height: 90vh;
  }
  .xG:vh8 {
    height: 80vh;
  }
  .xG:vh7 {
    height: 70vh;
  }
  .xG:vh6 {
    height: 60vh;
  }
  .xG:vh5 {
    height: 50vh;
  }
  .xG:vh4 {
    height: 40vh;
  }
  .xG:vh3 {
    height: 30vh;
  }
  .xG:vh2 {
    height: 20vh;
  }
  .xG:vh1 {
    height: 10vh;
  }
  .xG-vw10 {
    width: 100vw;
  }
  .xG-vw9 {
    width: 90vw;
  }
  .xG-vw8 {
    width: 80vw;
  }
  .xG-vw7 {
    width: 70vw;
  }
  .xG-vw6 {
    width: 60vw;
  }
  .xG-vw5 {
    width: 50vw;
  }
  .xG-vw4 {
    width: 40vw;
  }
  .xG-vw3 {
    width: 30vw;
  }
  .xG-vw2 {
    width: 20vw;
  }
  .xG-vw1 {
    width: 10vw;
  }
}

@media (min-width: 12px) {
  .G:wrap {
    flex-wrap: wrap;
  }
  .G:nwrap {
    flex-wrap: nowrap;
  }
  .G:F {
    display: flex;
  }
  .G:G {
    display: grid;
  }
  .G:G {
    display: None;
  }
  .G:B {
    display: block;
  }
  .G:rel {
    position: absolute;
  }
  .G:fix {
    position: fixed;
  }
  .G:rel {
    position: relative;
  }
  .G:sti {
    position: sticky;
  }
  .G:vh10 {
    height: 100vh;
  }
  .G:vh9 {
    height: 90vh;
  }
  .G:vh8 {
    height: 80vh;
  }
  .G:vh7 {
    height: 70vh;
  }
  .G:vh6 {
    height: 60vh;
  }
  .G:vh5 {
    height: 50vh;
  }
  .G:vh4 {
    height: 40vh;
  }
  .G:vh3 {
    height: 30vh;
  }
  .G:vh2 {
    height: 20vh;
  }
  .G:vh1 {
    height: 10vh;
  }
  .G-vw10 {
    width: 100vw;
  }
  .G-vw9 {
    width: 90vw;
  }
  .G-vw8 {
    width: 80vw;
  }
  .G-vw7 {
    width: 70vw;
  }
  .G-vw6 {
    width: 60vw;
  }
  .G-vw5 {
    width: 50vw;
  }
  .G-vw4 {
    width: 40vw;
  }
  .G-vw3 {
    width: 30vw;
  }
  .G-vw2 {
    width: 20vw;
  }
  .G-vw1 {
    width: 10vw;
  }
}

@media (min-width: 100px) {
  .M:wrap {
    flex-wrap: wrap;
  }
  .M:nwrap {
    flex-wrap: nowrap;
  }
  .M:F {
    display: flex;
  }
  .M:G {
    display: grid;
  }
  .M:G {
    display: None;
  }
  .M:B {
    display: block;
  }
  .M:rel {
    position: absolute;
  }
  .M:fix {
    position: fixed;
  }
  .M:rel {
    position: relative;
  }
  .M:sti {
    position: sticky;
  }
  .M:vh10 {
    height: 100vh;
  }
  .M:vh9 {
    height: 90vh;
  }
  .M:vh8 {
    height: 80vh;
  }
  .M:vh7 {
    height: 70vh;
  }
  .M:vh6 {
    height: 60vh;
  }
  .M:vh5 {
    height: 50vh;
  }
  .M:vh4 {
    height: 40vh;
  }
  .M:vh3 {
    height: 30vh;
  }
  .M:vh2 {
    height: 20vh;
  }
  .M:vh1 {
    height: 10vh;
  }
  .M-vw10 {
    width: 100vw;
  }
  .M-vw9 {
    width: 90vw;
  }
  .M-vw8 {
    width: 80vw;
  }
  .M-vw7 {
    width: 70vw;
  }
  .M-vw6 {
    width: 60vw;
  }
  .M-vw5 {
    width: 50vw;
  }
  .M-vw4 {
    width: 40vw;
  }
  .M-vw3 {
    width: 30vw;
  }
  .M-vw2 {
    width: 20vw;
  }
  .M-vw1 {
    width: 10vw;
  }
}

@media (min-width: 10px) {
  .S:wrap {
    flex-wrap: wrap;
  }
  .S:nwrap {
    flex-wrap: nowrap;
  }
  .S:F {
    display: flex;
  }
  .S:G {
    display: grid;
  }
  .S:G {
    display: None;
  }
  .S:B {
    display: block;
  }
  .S:rel {
    position: absolute;
  }
  .S:fix {
    position: fixed;
  }
  .S:rel {
    position: relative;
  }
  .S:sti {
    position: sticky;
  }
  .S:vh10 {
    height: 100vh;
  }
  .S:vh9 {
    height: 90vh;
  }
  .S:vh8 {
    height: 80vh;
  }
  .S:vh7 {
    height: 70vh;
  }
  .S:vh6 {
    height: 60vh;
  }
  .S:vh5 {
    height: 50vh;
  }
  .S:vh4 {
    height: 40vh;
  }
  .S:vh3 {
    height: 30vh;
  }
  .S:vh2 {
    height: 20vh;
  }
  .S:vh1 {
    height: 10vh;
  }
  .S-vw10 {
    width: 100vw;
  }
  .S-vw9 {
    width: 90vw;
  }
  .S-vw8 {
    width: 80vw;
  }
  .S-vw7 {
    width: 70vw;
  }
  .S-vw6 {
    width: 60vw;
  }
  .S-vw5 {
    width: 50vw;
  }
  .S-vw4 {
    width: 40vw;
  }
  .S-vw3 {
    width: 30vw;
  }
  .S-vw2 {
    width: 20vw;
  }
  .S-vw1 {
    width: 10vw;
  }
}

@media (min-width: 450px) {
  .xS:wrap {
    flex-wrap: wrap;
  }
  .xS:nwrap {
    flex-wrap: nowrap;
  }
  .xS:F {
    display: flex;
  }
  .xS:G {
    display: grid;
  }
  .xS:G {
    display: None;
  }
  .xS:B {
    display: block;
  }
  .xS:rel {
    position: absolute;
  }
  .xS:fix {
    position: fixed;
  }
  .xS:rel {
    position: relative;
  }
  .xS:sti {
    position: sticky;
  }
  .xS:vh10 {
    height: 100vh;
  }
  .xS:vh9 {
    height: 90vh;
  }
  .xS:vh8 {
    height: 80vh;
  }
  .xS:vh7 {
    height: 70vh;
  }
  .xS:vh6 {
    height: 60vh;
  }
  .xS:vh5 {
    height: 50vh;
  }
  .xS:vh4 {
    height: 40vh;
  }
  .xS:vh3 {
    height: 30vh;
  }
  .xS:vh2 {
    height: 20vh;
  }
  .xS:vh1 {
    height: 10vh;
  }
  .xS-vw10 {
    width: 100vw;
  }
  .xS-vw9 {
    width: 90vw;
  }
  .xS-vw8 {
    width: 80vw;
  }
  .xS-vw7 {
    width: 70vw;
  }
  .xS-vw6 {
    width: 60vw;
  }
  .xS-vw5 {
    width: 50vw;
  }
  .xS-vw4 {
    width: 40vw;
  }
  .xS-vw3 {
    width: 30vw;
  }
  .xS-vw2 {
    width: 20vw;
  }
  .xS-vw1 {
    width: 10vw;
  }
}

@media (min-width: 100px) {
  .xxS:wrap {
    flex-wrap: wrap;
  }
  .xxS:nwrap {
    flex-wrap: nowrap;
  }
  .xxS:F {
    display: flex;
  }
  .xxS:G {
    display: grid;
  }
  .xxS:G {
    display: None;
  }
  .xxS:B {
    display: block;
  }
  .xxS:rel {
    position: absolute;
  }
  .xxS:fix {
    position: fixed;
  }
  .xxS:rel {
    position: relative;
  }
  .xxS:sti {
    position: sticky;
  }
  .xxS:vh10 {
    height: 100vh;
  }
  .xxS:vh9 {
    height: 90vh;
  }
  .xxS:vh8 {
    height: 80vh;
  }
  .xxS:vh7 {
    height: 70vh;
  }
  .xxS:vh6 {
    height: 60vh;
  }
  .xxS:vh5 {
    height: 50vh;
  }
  .xxS:vh4 {
    height: 40vh;
  }
  .xxS:vh3 {
    height: 30vh;
  }
  .xxS:vh2 {
    height: 20vh;
  }
  .xxS:vh1 {
    height: 10vh;
  }
  .xxS-vw10 {
    width: 100vw;
  }
  .xxS-vw9 {
    width: 90vw;
  }
  .xxS-vw8 {
    width: 80vw;
  }
  .xxS-vw7 {
    width: 70vw;
  }
  .xxS-vw6 {
    width: 60vw;
  }
  .xxS-vw5 {
    width: 50vw;
  }
  .xxS-vw4 {
    width: 40vw;
  }
  .xxS-vw3 {
    width: 30vw;
  }
  .xxS-vw2 {
    width: 20vw;
  }
  .xxS-vw1 {
    width: 10vw;
  }
}

/*# sourceMappingURL=Bundle.Res.css.map */
