@media screen and (min-width: 1770px) and (max-width: 2030px) {
  .xL\:dB {
    display: block;
  }
  .xL\:dI {
    display: inline;
  }
  .xL\:vh10 {
    height: 100vh;
  }
  .xL\:vh9 {
    height: 90vh;
  }
  .xL\:vh8 {
    height: 80vh;
  }
  .xL\:vh7 {
    height: 70vh;
  }
  .xL\:vh6 {
    height: 60vh;
  }
  .xL\:vh5 {
    height: 50vh;
  }
  .xL\:vh4 {
    height: 40vh;
  }
  .xL\:vh3 {
    height: 30vh;
  }
  .xL\:vh2 {
    height: 20vh;
  }
  .xL\:vh1 {
    height: 10vh;
  }
  .xL\:vw10 {
    width: 100vw;
  }
  .xL\:vw9 {
    width: 90vw;
  }
  .xL\:vw8 {
    width: 80vw;
  }
  .xL\:vw7 {
    width: 70vw;
  }
  .xL\:vw6 {
    width: 60vw;
  }
  .xL\:vw5 {
    width: 50vw;
  }
  .xL\:vw4 {
    width: 40vw;
  }
  .xL\:vw3 {
    width: 30vw;
  }
  .xL\:vw2 {
    width: 20vw;
  }
  .xL\:vw1 {
    width: 10vw;
  }
  .xL\:dG {
    display: grid;
  }
  .xL\:dG._H-CStart {
    align-content: flex-start;
  }
  .xL\:dG._H-CEnd {
    align-content: flex-end;
  }
  .xL\:dG._H-CEven {
    align-content: space-evenly;
  }
  .xL\:dG._H-CAround {
    align-content: space-around;
  }
  .xL\:dG._H-CBetween {
    align-content: space-between;
  }
  .xL\:dG._H-CStret {
    align-content: stretch;
  }
  .xL\:dG._H-CCenter {
    align-content: center;
  }
  .xL\:dG._V-CStart {
    justify-content: flex-start;
  }
  .xL\:dG._V-CEnd {
    justify-content: flex-end;
  }
  .xL\:dG._V-CEven {
    justify-content: space-evenly;
  }
  .xL\:dG._V-CAround {
    justify-content: space-around;
  }
  .xL\:dG._V-CBetween {
    justify-content: space-between;
  }
  .xL\:dG._V-CStret {
    justify-content: stretch;
  }
  .xL\:dG._V-CCenter {
    justify-content: center;
  }
  .xL\:dG._H-IStart {
    align-items: flex-start;
  }
  .xL\:dG._H-IEnd {
    align-items: flex-end;
  }
  .xL\:dG._H-IStrech {
    align-items: stretch;
  }
  .xL\:dG._H-ICenter {
    align-items: center;
  }
  .xL\:dG._V-IStart {
    justify-items: flex-start;
  }
  .xL\:dG._V-IEnd {
    justify-items: flex-end;
  }
  .xL\:dG._V-IStrech {
    justify-items: stretch;
  }
  .xL\:dG._V-ICenter {
    justify-items: center;
  }
  .xL\:dF_C {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .xL\:dF_H {
    display: flex;
    justify-content: center;
  }
  .xL\:dF_H.Start {
    align-Content: flex-start;
  }
  .xL\:dF_H.End {
    align-Content: flex-end;
  }
  .xL\:dF_H.Even {
    align-Content: space-evenly;
  }
  .xL\:dF_H.Around {
    align-Content: space-around;
  }
  .xL\:dF_H.Between {
    align-Content: space-between;
  }
  .xL\:dF_H.Stret {
    align-Content: stretch;
  }
  .xL\:dF_H.Start {
    align-items: flex-start;
  }
  .xL\:dF_H.End {
    align-items: flex-end;
  }
  .xL\:dF_H.Stret {
    align-items: stretch;
  }
  .xL\:dF_H.BL {
    align-items: baseline;
  }
  .xL\:dF_H.FCenter {
    align-items: center;
  }
  .xL\:dF_V.Start {
    justify-content: flex-start;
  }
  .xL\:dF_V.End {
    justify-content: flex-end;
  }
  .xL\:dF_V.Even {
    justify-content: space-evenly;
  }
  .xL\:dF_V.Around {
    justify-content: space-around;
  }
  .xL\:dF_V.Between {
    justify-content: space-between;
  }
  .xL\:dF_V.Stret {
    justify-content: stretch;
  }
  .xL\:dF_V {
    min-height: var(--Height);
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 1769px) and (min-width: 2029px) {
  .xL\:dN {
    display: none;
  }
}
@media screen and (min-width: 109px) and (max-width: 369px) {
  .L\:dB {
    display: block;
  }
  .L\:dI {
    display: inline;
  }
  .L\:vh10 {
    height: 100vh;
  }
  .L\:vh9 {
    height: 90vh;
  }
  .L\:vh8 {
    height: 80vh;
  }
  .L\:vh7 {
    height: 70vh;
  }
  .L\:vh6 {
    height: 60vh;
  }
  .L\:vh5 {
    height: 50vh;
  }
  .L\:vh4 {
    height: 40vh;
  }
  .L\:vh3 {
    height: 30vh;
  }
  .L\:vh2 {
    height: 20vh;
  }
  .L\:vh1 {
    height: 10vh;
  }
  .L\:vw10 {
    width: 100vw;
  }
  .L\:vw9 {
    width: 90vw;
  }
  .L\:vw8 {
    width: 80vw;
  }
  .L\:vw7 {
    width: 70vw;
  }
  .L\:vw6 {
    width: 60vw;
  }
  .L\:vw5 {
    width: 50vw;
  }
  .L\:vw4 {
    width: 40vw;
  }
  .L\:vw3 {
    width: 30vw;
  }
  .L\:vw2 {
    width: 20vw;
  }
  .L\:vw1 {
    width: 10vw;
  }
  .L\:dG {
    display: grid;
  }
  .L\:dG._H-CStart {
    align-content: flex-start;
  }
  .L\:dG._H-CEnd {
    align-content: flex-end;
  }
  .L\:dG._H-CEven {
    align-content: space-evenly;
  }
  .L\:dG._H-CAround {
    align-content: space-around;
  }
  .L\:dG._H-CBetween {
    align-content: space-between;
  }
  .L\:dG._H-CStret {
    align-content: stretch;
  }
  .L\:dG._H-CCenter {
    align-content: center;
  }
  .L\:dG._V-CStart {
    justify-content: flex-start;
  }
  .L\:dG._V-CEnd {
    justify-content: flex-end;
  }
  .L\:dG._V-CEven {
    justify-content: space-evenly;
  }
  .L\:dG._V-CAround {
    justify-content: space-around;
  }
  .L\:dG._V-CBetween {
    justify-content: space-between;
  }
  .L\:dG._V-CStret {
    justify-content: stretch;
  }
  .L\:dG._V-CCenter {
    justify-content: center;
  }
  .L\:dG._H-IStart {
    align-items: flex-start;
  }
  .L\:dG._H-IEnd {
    align-items: flex-end;
  }
  .L\:dG._H-IStrech {
    align-items: stretch;
  }
  .L\:dG._H-ICenter {
    align-items: center;
  }
  .L\:dG._V-IStart {
    justify-items: flex-start;
  }
  .L\:dG._V-IEnd {
    justify-items: flex-end;
  }
  .L\:dG._V-IStrech {
    justify-items: stretch;
  }
  .L\:dG._V-ICenter {
    justify-items: center;
  }
  .L\:dF_C {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .L\:dF_H {
    display: flex;
    justify-content: center;
  }
  .L\:dF_H.Start {
    align-Content: flex-start;
  }
  .L\:dF_H.End {
    align-Content: flex-end;
  }
  .L\:dF_H.Even {
    align-Content: space-evenly;
  }
  .L\:dF_H.Around {
    align-Content: space-around;
  }
  .L\:dF_H.Between {
    align-Content: space-between;
  }
  .L\:dF_H.Stret {
    align-Content: stretch;
  }
  .L\:dF_H.Start {
    align-items: flex-start;
  }
  .L\:dF_H.End {
    align-items: flex-end;
  }
  .L\:dF_H.Stret {
    align-items: stretch;
  }
  .L\:dF_H.BL {
    align-items: baseline;
  }
  .L\:dF_H.FCenter {
    align-items: center;
  }
  .L\:dF_V.Start {
    justify-content: flex-start;
  }
  .L\:dF_V.End {
    justify-content: flex-end;
  }
  .L\:dF_V.Even {
    justify-content: space-evenly;
  }
  .L\:dF_V.Around {
    justify-content: space-around;
  }
  .L\:dF_V.Between {
    justify-content: space-between;
  }
  .L\:dF_V.Stret {
    justify-content: stretch;
  }
  .L\:dF_V {
    min-height: var(--Height);
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 108px) and (min-width: 368px) {
  .L\:dN {
    display: none;
  }
}
@media screen and (min-width: 182px) and (max-width: 442px) {
  .M\:dB {
    display: block;
  }
  .M\:dI {
    display: inline;
  }
  .M\:vh10 {
    height: 100vh;
  }
  .M\:vh9 {
    height: 90vh;
  }
  .M\:vh8 {
    height: 80vh;
  }
  .M\:vh7 {
    height: 70vh;
  }
  .M\:vh6 {
    height: 60vh;
  }
  .M\:vh5 {
    height: 50vh;
  }
  .M\:vh4 {
    height: 40vh;
  }
  .M\:vh3 {
    height: 30vh;
  }
  .M\:vh2 {
    height: 20vh;
  }
  .M\:vh1 {
    height: 10vh;
  }
  .M\:vw10 {
    width: 100vw;
  }
  .M\:vw9 {
    width: 90vw;
  }
  .M\:vw8 {
    width: 80vw;
  }
  .M\:vw7 {
    width: 70vw;
  }
  .M\:vw6 {
    width: 60vw;
  }
  .M\:vw5 {
    width: 50vw;
  }
  .M\:vw4 {
    width: 40vw;
  }
  .M\:vw3 {
    width: 30vw;
  }
  .M\:vw2 {
    width: 20vw;
  }
  .M\:vw1 {
    width: 10vw;
  }
  .M\:dG {
    display: grid;
  }
  .M\:dG._H-CStart {
    align-content: flex-start;
  }
  .M\:dG._H-CEnd {
    align-content: flex-end;
  }
  .M\:dG._H-CEven {
    align-content: space-evenly;
  }
  .M\:dG._H-CAround {
    align-content: space-around;
  }
  .M\:dG._H-CBetween {
    align-content: space-between;
  }
  .M\:dG._H-CStret {
    align-content: stretch;
  }
  .M\:dG._H-CCenter {
    align-content: center;
  }
  .M\:dG._V-CStart {
    justify-content: flex-start;
  }
  .M\:dG._V-CEnd {
    justify-content: flex-end;
  }
  .M\:dG._V-CEven {
    justify-content: space-evenly;
  }
  .M\:dG._V-CAround {
    justify-content: space-around;
  }
  .M\:dG._V-CBetween {
    justify-content: space-between;
  }
  .M\:dG._V-CStret {
    justify-content: stretch;
  }
  .M\:dG._V-CCenter {
    justify-content: center;
  }
  .M\:dG._H-IStart {
    align-items: flex-start;
  }
  .M\:dG._H-IEnd {
    align-items: flex-end;
  }
  .M\:dG._H-IStrech {
    align-items: stretch;
  }
  .M\:dG._H-ICenter {
    align-items: center;
  }
  .M\:dG._V-IStart {
    justify-items: flex-start;
  }
  .M\:dG._V-IEnd {
    justify-items: flex-end;
  }
  .M\:dG._V-IStrech {
    justify-items: stretch;
  }
  .M\:dG._V-ICenter {
    justify-items: center;
  }
  .M\:dF_C {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .M\:dF_H {
    display: flex;
    justify-content: center;
  }
  .M\:dF_H.Start {
    align-Content: flex-start;
  }
  .M\:dF_H.End {
    align-Content: flex-end;
  }
  .M\:dF_H.Even {
    align-Content: space-evenly;
  }
  .M\:dF_H.Around {
    align-Content: space-around;
  }
  .M\:dF_H.Between {
    align-Content: space-between;
  }
  .M\:dF_H.Stret {
    align-Content: stretch;
  }
  .M\:dF_H.Start {
    align-items: flex-start;
  }
  .M\:dF_H.End {
    align-items: flex-end;
  }
  .M\:dF_H.Stret {
    align-items: stretch;
  }
  .M\:dF_H.BL {
    align-items: baseline;
  }
  .M\:dF_H.FCenter {
    align-items: center;
  }
  .M\:dF_V.Start {
    justify-content: flex-start;
  }
  .M\:dF_V.End {
    justify-content: flex-end;
  }
  .M\:dF_V.Even {
    justify-content: space-evenly;
  }
  .M\:dF_V.Around {
    justify-content: space-around;
  }
  .M\:dF_V.Between {
    justify-content: space-between;
  }
  .M\:dF_V.Stret {
    justify-content: stretch;
  }
  .M\:dF_V {
    min-height: var(--Height);
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 181px) and (min-width: 441px) {
  .M\:dN {
    display: none;
  }
}
@media screen and (min-width: 182px) and (max-width: 442px) {
  .S\:dB {
    display: block;
  }
  .S\:dI {
    display: inline;
  }
  .S\:vh10 {
    height: 100vh;
  }
  .S\:vh9 {
    height: 90vh;
  }
  .S\:vh8 {
    height: 80vh;
  }
  .S\:vh7 {
    height: 70vh;
  }
  .S\:vh6 {
    height: 60vh;
  }
  .S\:vh5 {
    height: 50vh;
  }
  .S\:vh4 {
    height: 40vh;
  }
  .S\:vh3 {
    height: 30vh;
  }
  .S\:vh2 {
    height: 20vh;
  }
  .S\:vh1 {
    height: 10vh;
  }
  .S\:vw10 {
    width: 100vw;
  }
  .S\:vw9 {
    width: 90vw;
  }
  .S\:vw8 {
    width: 80vw;
  }
  .S\:vw7 {
    width: 70vw;
  }
  .S\:vw6 {
    width: 60vw;
  }
  .S\:vw5 {
    width: 50vw;
  }
  .S\:vw4 {
    width: 40vw;
  }
  .S\:vw3 {
    width: 30vw;
  }
  .S\:vw2 {
    width: 20vw;
  }
  .S\:vw1 {
    width: 10vw;
  }
  .S\:dG {
    display: grid;
  }
  .S\:dG._H-CStart {
    align-content: flex-start;
  }
  .S\:dG._H-CEnd {
    align-content: flex-end;
  }
  .S\:dG._H-CEven {
    align-content: space-evenly;
  }
  .S\:dG._H-CAround {
    align-content: space-around;
  }
  .S\:dG._H-CBetween {
    align-content: space-between;
  }
  .S\:dG._H-CStret {
    align-content: stretch;
  }
  .S\:dG._H-CCenter {
    align-content: center;
  }
  .S\:dG._V-CStart {
    justify-content: flex-start;
  }
  .S\:dG._V-CEnd {
    justify-content: flex-end;
  }
  .S\:dG._V-CEven {
    justify-content: space-evenly;
  }
  .S\:dG._V-CAround {
    justify-content: space-around;
  }
  .S\:dG._V-CBetween {
    justify-content: space-between;
  }
  .S\:dG._V-CStret {
    justify-content: stretch;
  }
  .S\:dG._V-CCenter {
    justify-content: center;
  }
  .S\:dG._H-IStart {
    align-items: flex-start;
  }
  .S\:dG._H-IEnd {
    align-items: flex-end;
  }
  .S\:dG._H-IStrech {
    align-items: stretch;
  }
  .S\:dG._H-ICenter {
    align-items: center;
  }
  .S\:dG._V-IStart {
    justify-items: flex-start;
  }
  .S\:dG._V-IEnd {
    justify-items: flex-end;
  }
  .S\:dG._V-IStrech {
    justify-items: stretch;
  }
  .S\:dG._V-ICenter {
    justify-items: center;
  }
  .S\:dF_C {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .S\:dF_H {
    display: flex;
    justify-content: center;
  }
  .S\:dF_H.Start {
    align-Content: flex-start;
  }
  .S\:dF_H.End {
    align-Content: flex-end;
  }
  .S\:dF_H.Even {
    align-Content: space-evenly;
  }
  .S\:dF_H.Around {
    align-Content: space-around;
  }
  .S\:dF_H.Between {
    align-Content: space-between;
  }
  .S\:dF_H.Stret {
    align-Content: stretch;
  }
  .S\:dF_H.Start {
    align-items: flex-start;
  }
  .S\:dF_H.End {
    align-items: flex-end;
  }
  .S\:dF_H.Stret {
    align-items: stretch;
  }
  .S\:dF_H.BL {
    align-items: baseline;
  }
  .S\:dF_H.FCenter {
    align-items: center;
  }
  .S\:dF_V.Start {
    justify-content: flex-start;
  }
  .S\:dF_V.End {
    justify-content: flex-end;
  }
  .S\:dF_V.Even {
    justify-content: space-evenly;
  }
  .S\:dF_V.Around {
    justify-content: space-around;
  }
  .S\:dF_V.Between {
    justify-content: space-between;
  }
  .S\:dF_V.Stret {
    justify-content: stretch;
  }
  .S\:dF_V {
    min-height: var(--Height);
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 181px) and (min-width: 441px) {
  .S\:dN {
    display: none;
  }
}
@media screen and (min-width: 182px) and (max-width: 442px) {
  .xS\:dB {
    display: block;
  }
  .xS\:dI {
    display: inline;
  }
  .xS\:vh10 {
    height: 100vh;
  }
  .xS\:vh9 {
    height: 90vh;
  }
  .xS\:vh8 {
    height: 80vh;
  }
  .xS\:vh7 {
    height: 70vh;
  }
  .xS\:vh6 {
    height: 60vh;
  }
  .xS\:vh5 {
    height: 50vh;
  }
  .xS\:vh4 {
    height: 40vh;
  }
  .xS\:vh3 {
    height: 30vh;
  }
  .xS\:vh2 {
    height: 20vh;
  }
  .xS\:vh1 {
    height: 10vh;
  }
  .xS\:vw10 {
    width: 100vw;
  }
  .xS\:vw9 {
    width: 90vw;
  }
  .xS\:vw8 {
    width: 80vw;
  }
  .xS\:vw7 {
    width: 70vw;
  }
  .xS\:vw6 {
    width: 60vw;
  }
  .xS\:vw5 {
    width: 50vw;
  }
  .xS\:vw4 {
    width: 40vw;
  }
  .xS\:vw3 {
    width: 30vw;
  }
  .xS\:vw2 {
    width: 20vw;
  }
  .xS\:vw1 {
    width: 10vw;
  }
  .xS\:dG {
    display: grid;
  }
  .xS\:dG._H-CStart {
    align-content: flex-start;
  }
  .xS\:dG._H-CEnd {
    align-content: flex-end;
  }
  .xS\:dG._H-CEven {
    align-content: space-evenly;
  }
  .xS\:dG._H-CAround {
    align-content: space-around;
  }
  .xS\:dG._H-CBetween {
    align-content: space-between;
  }
  .xS\:dG._H-CStret {
    align-content: stretch;
  }
  .xS\:dG._H-CCenter {
    align-content: center;
  }
  .xS\:dG._V-CStart {
    justify-content: flex-start;
  }
  .xS\:dG._V-CEnd {
    justify-content: flex-end;
  }
  .xS\:dG._V-CEven {
    justify-content: space-evenly;
  }
  .xS\:dG._V-CAround {
    justify-content: space-around;
  }
  .xS\:dG._V-CBetween {
    justify-content: space-between;
  }
  .xS\:dG._V-CStret {
    justify-content: stretch;
  }
  .xS\:dG._V-CCenter {
    justify-content: center;
  }
  .xS\:dG._H-IStart {
    align-items: flex-start;
  }
  .xS\:dG._H-IEnd {
    align-items: flex-end;
  }
  .xS\:dG._H-IStrech {
    align-items: stretch;
  }
  .xS\:dG._H-ICenter {
    align-items: center;
  }
  .xS\:dG._V-IStart {
    justify-items: flex-start;
  }
  .xS\:dG._V-IEnd {
    justify-items: flex-end;
  }
  .xS\:dG._V-IStrech {
    justify-items: stretch;
  }
  .xS\:dG._V-ICenter {
    justify-items: center;
  }
  .xS\:dF_C {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .xS\:dF_H {
    display: flex;
    justify-content: center;
  }
  .xS\:dF_H.Start {
    align-Content: flex-start;
  }
  .xS\:dF_H.End {
    align-Content: flex-end;
  }
  .xS\:dF_H.Even {
    align-Content: space-evenly;
  }
  .xS\:dF_H.Around {
    align-Content: space-around;
  }
  .xS\:dF_H.Between {
    align-Content: space-between;
  }
  .xS\:dF_H.Stret {
    align-Content: stretch;
  }
  .xS\:dF_H.Start {
    align-items: flex-start;
  }
  .xS\:dF_H.End {
    align-items: flex-end;
  }
  .xS\:dF_H.Stret {
    align-items: stretch;
  }
  .xS\:dF_H.BL {
    align-items: baseline;
  }
  .xS\:dF_H.FCenter {
    align-items: center;
  }
  .xS\:dF_V.Start {
    justify-content: flex-start;
  }
  .xS\:dF_V.End {
    justify-content: flex-end;
  }
  .xS\:dF_V.Even {
    justify-content: space-evenly;
  }
  .xS\:dF_V.Around {
    justify-content: space-around;
  }
  .xS\:dF_V.Between {
    justify-content: space-between;
  }
  .xS\:dF_V.Stret {
    justify-content: stretch;
  }
  .xS\:dF_V {
    min-height: var(--Height);
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 181px) and (min-width: 441px) {
  .xS\:dN {
    display: none;
  }
}

/*# sourceMappingURL=Bundle.Res.css.map */
