.IS:wrap {
  flex-wrap: wrap;
}

.IS:nwrap {
  flex-wrap: nowrap;
}

.IS:f {
  display: flex;
}

.IS:g {
  display: grid;
}

.IS:n {
  display: None;
}

.IS:b {
  display: block;
}

.IS:abs {
  position: absolute;
}

.IS:fix {
  position: fixed;
}

.IS:rel {
  position: relative;
}

.IS:sti {
  position: sticky;
}

.IS:Rounded-50 {
  border-radius: 50%;
}
.IS:Rounded-25 {
  border-radius: 25%;
}
.IS:Rounded-15 {
  border-radius: 15px;
}
.IS:Rounded-5 {
  border-radius: 5px;
}
