@media (min-width: 768px) {
  :root {
  }
  .S:Wrap {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .S:Nwrap {
    flex-wrap: nowrap;
  }

  .S:D_F {
   display: flex;
  }
  .S:D_G {
    display: grid;
  }
  .S:D_N {
    display: None;
  }
  .S:D_B {
    display: block;
  }

  .S:P_Rel {
    position: absolute;
  }
  .S:P_Fix {
    position: fixed;
  }
  .S:P_Rel {
    position: relative;
  }
  .S:P_Sti {
    position: sticky;
  }

  .S:vh10 {
    height: 100vh;
  }
  .S:vh9 {
    height: 90vh;
  }
  .S:vh8 {
    height: 80vh;
  }
  .S:vh7 {
    height: 70vh;
  }
  .S:vh6 {
    height: 60vh;
  }
  .S:vh5 {
    height: 50vh;
  }
  .S:vh4 {
    height: 40vh;
  }
  .S:vh3 {
    height: 30vh;
  }
  .S:vh2 {
    height: 20vh;
  }
  .S:vh1 {
    height: 10vh;
  }
  .S:vw10 {
    width: 100vw;
  }
  .S:vw9 {
    width: 90vw;
  }
  .S:vw8 {
    width: 80vw;
  }
  .S:vw7 {
    width: 70vw;
  }
  .S:vw6 {
    width: 60vw;
  }
  .S:vw5 {
    width: 50vw;
  }
  .S:vw4 {
    width: 40vw;
  }
  .S:vw3 {
    width: 30vw;
  }
  .S:vw2 {
    width: 20vw;
  }
  .S:vw1 {
    width: 10vw;
  }
  
}
