
@media (min-width: 1400px) {
  :root {
  }
    .xG:Wrap {
      flex-wrap: wrap;
    }
    .xG:Nwrap {
      flex-wrap: nowrap;
    }
  
    .xG:F {
      display: flex;
    }
    .xG:G {
      display: grid;
    }
    .xG:N {
      display: None;
    }
    .xG:B {
      display: block;
    }
  
    .xG:Rel {
      position: absolute;
    }
    .xG:Fix {
      position: fixed;
    }
    .xG:Rel {
      position: relative;
    }
    .xG:Sti {
      position: sticky;
    }
  
    .xG:vh10 {
      height: 100vh;
    }
    .xG:vh9 {
      height: 90vh;
    }
    .xG:vh8 {
      height: 80vh;
    }
    .xG:vh7 {
      height: 70vh;
    }
    .xG:vh6 {
      height: 60vh;
    }
    .xG:vh5 {
      height: 50vh;
    }
    .xG:vh4 {
      height: 40vh;
    }
    .xG:vh3 {
      height: 30vh;
    }
    .xG:vh2 {
      height: 20vh;
    }
    .xG:vh1 {
      height: 10vh;
    }
  
    
    .xG-vw10 {
      width: 100vw;
    }
    .xG-vw9 {
      width: 90vw;
    }
    .xG-vw8 {
      width: 80vw;
    }
    .xG-vw7 {
      width: 70vw;
    }
    .xG-vw6 {
      width: 60vw;
    }
    .xG-vw5 {
      width: 50vw;
    }
    .xG-vw4 {
      width: 40vw;
    }
    .xG-vw3 {
      width: 30vw;
    }
    .xG-vw2 {
      width: 20vw;
    }
    .xG-vw1 {
      width: 10vw;
    }
  
    
  
  }