
@media (min-width: 576px) {
  :root {
  }
  
    .xS:Wrap {
      flex-wrap: wrap;
    }
    .xS:Nwrap {
      flex-wrap: nowrap;
    }
  
    .xS:F {
      display: flex;
    }
    .xS:G {
      display: grid;
    }
    .xS:N {
      display: None;
    }
    .xS:B {
      display: block;
    }
  
    .xS:Rel {
      position: absolute;
    }
    .xS:Fix {
      position: fixed;
    }
    .xS:Rel {
      position: relative;
    }
    .xS:Sti {
      position: sticky;
    }
  
    .xS:vh10 {
      height: 100vh;
    }
    .xS:vh9 {
      height: 90vh;
    }
    .xS:vh8 {
      height: 80vh;
    }
    .xS:vh7 {
      height: 70vh;
    }
    .xS:vh6 {
      height: 60vh;
    }
    .xS:vh5 {
      height: 50vh;
    }
    .xS:vh4 {
      height: 40vh;
    }
    .xS:vh3 {
      height: 30vh;
    }
    .xS:vh2 {
      height: 20vh;
    }
    .xS:vh1 {
      height: 10vh;
    }
  
    
    .xS-vw10 {
      width: 100vw;
    }
    .xS-vw9 {
      width: 90vw;
    }
    .xS-vw8 {
      width: 80vw;
    }
    .xS-vw7 {
      width: 70vw;
    }
    .xS-vw6 {
      width: 60vw;
    }
    .xS-vw5 {
      width: 50vw;
    }
    .xS-vw4 {
      width: 40vw;
    }
    .xS-vw3 {
      width: 30vw;
    }
    .xS-vw2 {
      width: 20vw;
    }
    .xS-vw1 {
      width: 10vw;
    }
  
  }