@media (min-width: 321px) {
  :root {

      --Fs-0-Mob2Desk: 120px;
      --Fs-1-Mob2Desk: 120px;
      --Fs-2-Mob2Desk: 120px;
      --Fs-3-Mob2Desk: 120px;
      --Fs-4-Mob2Desk: 120px;
      --Fs-5-Mob2Desk: 120px;
      --Fs-6-Mob2Desk: 120px;
      --Fs-7-Mob2Desk: 120px;
      --Fs-8-Mob2Desk: 120px;


      --Fs-0-Mob2Desk: 120px;
      --Fs-1-Mob2Desk: 120px;
      --Fs-2-Mob2Desk: 120px;
      --Fs-3-Mob2Desk: 120px;
      --Fs-4-Mob2Desk: 120px;
      --Fs-5-Mob2Desk: 120px;
      --Fs-6-Mob2Desk: 120px;
      --Fs-7-Mob2Desk: 120px;
      --Fs-8-Mob2Desk: 120px;



  }


  .xxS:wrap {
    flex-wrap: wrap;
  }
  .xxS:nwrap {
    flex-wrap: nowrap;
  }

  .xxS:f {
    display: flex;
  }
  .xxS:g {
    display: grid;
  }
  .xxS:n {
    display: None;
  }
  .xxS:b {
    display: block;
  }

  .xxS:rel {
    position: absolute;
  }
  .xxS:fix {
    position: fixed;
  }
  .xxS:rel {
    position: relative;
  }
  .xxS:sti {
    position: sticky;
  }

  .xxS:vh10 {
    height: 100vh;
  }
  .xxS:vh9 {
    height: 90vh;
  }
  .xxS:vh8 {
    height: 80vh;
  }
  .xxS:vh7 {
    height: 70vh;
  }
  .xxS:vh6 {
    height: 60vh;
  }
  .xxS:vh5 {
    height: 50vh;
  }
  .xxS:vh4 {
    height: 40vh;
  }
  .xxS:vh3 {
    height: 30vh;
  }
  .xxS:vh2 {
    height: 20vh;
  }
  .xxS:vh1 {
    height: 10vh;
  }

  .xxS-vw10 {
    width: 100vw;
  }
  .xxS-vw9 {
    width: 90vw;
  }
  .xxS-vw8 {
    width: 80vw;
  }
  .xxS-vw7 {
    width: 70vw;
  }
  .xxS-vw6 {
    width: 60vw;
  }
  .xxS-vw5 {
    width: 50vw;
  }
  .xxS-vw4 {
    width: 40vw;
  }
  .xxS-vw3 {
    width: 30vw;
  }
  .xxS-vw2 {
    width: 20vw;
  }
  .xxS-vw1 {
    width: 10vw;
  }
}
