.Rotate {
  & {
    --Rotation: 34deg;
  }
  &_C{
    transform-origin: center;
    transform: rotate(--Rotation);
  }

  &_TL{
    transform-origin: top left;
    transform: rotate(--Rotation);
  }

  &_TR{
     transform-origin: top right;
    transform: rotate(--Rotation);
  }

  &_BL{
    transform-origin: bottom left;
    transform: rotate(--Rotation);
  }

  &_RL {
    transform-origin: bottom right;
    transform: rotate(--Rotation);
  }
}
