.Rotate {
  & {
    --Rotation: 34deg;
  }
  &_Center {
    transform-origin: center;
    transform: rotate(--Rotation);
  }

  &_TopLeft {
    transform-origin: top left;
    transform: rotate(--Rotation);
  }

  &_TopRight {
     transform-origin: top right;
    transform: rotate(--Rotation);
  }

  &_BottomLeft {
    transform-origin: bottom left;
    transform: rotate(--Rotation);
  }

  &_RightLeft {
    transform-origin: bottom right;
    transform: rotate(--Rotation);
  }
}
