
@import "../Features/Responsive/Responsive.scss";

$Media-Gap: 70px;

$responsiveClasses: (
  xL: 1900px,
  L: 19px,
  M: 12px,
  S: 12px
);

@each $class, $width in $responsiveClasses {
  .#{$class} {
    @include Responsive($width);
  }
}

@each $class, $width in $responsiveClasses {
  $min-width: $width - $Media-Gap;
  $max-width: $width + $Media-Gap;

  @media screen and (min-width: #{$min-width}) and (max-width: #{$max-width}) {
    .#{$class}:OnBlock {
      display: block;
    }
    .#{$class}:OnFlex {
      display: flex;
    }
    .#{$class}:Off {
      display: none;
    }
  }
}