.cAbs {
  & {
    min-height: 30vh;
    position: relative;
  }
  .contenedora8 .item {
    width: 5em;
    height: 5em;

    position: absolute;
    left: 50%;
    margin-left: -2.5em;
  }

  /* Centrar en vertical con margin con pixeles */
  .contenedora9 {
    min-height: 30vh;

    position: relative;
  }
  .contenedora9 .item {
    width: 200px;
    height: 200px;

    position: absolute;
    top: 50%;
    margin-top: -100px;
  }

  /* Centrar en horizontal con calc() con píxeles */
  .contenedora10 {
    min-height: 30vh;

    position: relative;
  }
  .contenedora10 .item {
    width: 200px;
    height: 200px;

    position: absolute;
    left: calc(50% - 100px);
  }

  /* Centrar en vertical con calc() con pixeles */
  .contenedora11 {
    min-height: 30vh;

    position: relative;
  }
  .contenedora11 .item {
    width: 200px;
    height: 200px;

    position: absolute;
    top: calc(50% - 100px);
  }

  /* Centrar en horizontal con porcentaje */
  .contenedora12 {
    min-height: 30vh;

    position: relative;
  }
  .contenedora12 .item {
    width: 50%;
    height: 60%;

    position: absolute;
    left: 25%;
  }

  /* Centrar en vertical con porcentaje */
  .contenedora13 {
    min-height: 30vh;

    position: relative;
  }
  .contenedora13 .item {
    width: 50%;
    height: 60%;

    position: absolute;
    top: 20%;
  }

  /* Centrar en horizontal con transform */
  .contenedora14 {
    min-height: 30vh;
    position: relative;
  }
  .contenedora14 .item {
    width: 10em;
    height: 200px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Centrar en vertical con transform */
  .contenedora15 {
    min-height: 30vh;
    position: relative;
  }
  .contenedora15 .item {
    width: 200px;
    height: 60%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
