$AlignH: (
  Start: flex-start,
  End: flex-end,
  Even: space-evenly,
  Around: space-around,
  Between:space-between
);

$AlignV: (
  Start: flex-start,
  End: flex-end,
  Strech: stretch,
  BL: baseline
);


.cFlex {

  &_C {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Centrar con flex en horizontal */
  &_H {
    display: flex;
    justify-content:center;
  }

  @each $class, $align in $AlignH {
    &_H.#{$class} {
      justify-content:#{$align};
    }
  }

  @each $class, $align in $AlignV {
    &_V.#{$class} {
      justify-content:#{$align};
    }
  }

  /* Centrar con flex en vertical */
  &_V {
    min-height: var(--Height);
    display: flex;
    align-items: center;
  }
}
